{% extends 'base.html' %}

{% block content %}

<h2>{{ course.title }}</h2>

<a class="btn btn-default" href="{% url 'courses:instructor.assignment.create' course.id %}" role="button"><i class="fa fa-fw fa-plus"></i> Create</a>

<ul class="list-unstyled">
{% for assignment in object_list %}
	<li>
		<div class="panel panel-info">
			<div class="panel-heading">
				<span>{{ assignment.title }}</span>
				
				<span class="dropdown pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'courses:instructor.assignment.update' assignment.id %}"><i class="fa fa-fw fa-pencil-square-o"></i> Modify</a>
							<a href="#"><i class="fa fa-fw fa-times"></i> Delete</a>
						<li>
					</ul>
				</span>
				
				<span class="pull-right">Due Date: {{ assignment.due_date }}</span>
			</div>
			<div class="panel-body">
				<div>
					{{ assignment.description }}
				</div>
			</div>
		</div>
	</li>
{% empty %}
	<li>{{ course.title }} does not have any assignment.</li>
{% endfor %}
</ul>

{% endblock %}