{% extends 'base.html' %}

{% block content %}

<h2>My Courses</h2>
<a class="btn btn-default" href="{% url 'courses:instructor.courses.create' %}" role="button"><i class="fa fa-fw fa-plus"></i> Create</a>

<ul class="list-unstyled">
{% for course in object_list %}
	<li>
		<div class="panel panel-info">
			<div class="panel-heading">
				<span>{{ course.title }}</span>
				
				<span class="dropdown pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'courses:instructor.courses.update' course.id %}"><i class="fa fa-fw fa-pencil-square-o"></i> Modify</a>
							<a href="#"><i class="fa fa-fw fa-times"></i> Delete</a>
						<li>
					</ul>
				</span>
				
				<span class="pull-right">Instructor:
				{% for instructor in course.instructors.all %}
					{{ instructor }}
				{% endfor %}
				</span>
			</div>
			<div class="panel-body">
				<div>
					{{ course.description }}
				</div>
				<div class="pull-right">
					<a class="btn btn-default" href="{% url 'courses:instructor.assignment.list' course.id %}" role="button">Assignments</a>
				</div>
			</div>
		</div>
	</li>
{% empty %}
	<li>You do not have any course.</li>
{% endfor %}
</ul>

{% endblock %}