{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/lib/handlebars/handlebars.js' %}"></script>
{% endblock script-head %}

{% block content %}

<a class="btn btn-default" href="{% url 'courses:assignment.list' article.assignment.course.id %}" role="button">Back to List</a>

<h2>{{ article.assignment.title }} - {{ article.assignment.course.title }}</h2>
<blockquote>{{ article.assignment.description }}</blockquote>

<textarea id="id_content" rows="10" cols="40">
{{ article.content | safe }}
</textarea>
<script>
var editor = CKEDITOR.replace('id_content', {
	customConfig: '{% static 'common/miscellaneous/ckeditor_readonly_config.js' %}'
});
</script>

<a class="btn btn-default" href="{% url 'courses:grading_attempt.create' article.id %}" role="button">New grading attempt</a>

{% endblock %}