{% extends 'base_course_assignment.html' %}

{% load staticfiles %}

{% block script-head %}

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/DataTables/css/dataTables.bootstrap.min.css' %}">

<script src="{% static 'common/lib/DataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/lib/DataTables/js/dataTables.bootstrap.min.js' %}"></script>

<script>
$(document).ready(function() {
	$('#table_articles').DataTable({
		paging: false,
		searching: false
	});
});
</script>

{% endblock script-head %}

{% block content %}

{% with course=assignment.course %}
{{ block.super }}
{% endwith %}

<ol class="breadcrumb">
  <li><a href="{% url 'courses:assignment.list' assignment.course.id %}">Assignment</a></li>
  <li class="active">{{assignment.title}}</li>
</ol>

{% include "courses/assignment_info.html" %}

<table id="table_articles" class="table">
	<thead>
		<th>#</th>
		<th>Last Modified Date</th>
		<th>Grade</th>
		<th>Actions</th>
	</thead>
	<tbody>
		{% for article in object_list %}
		<tr>
			<td>Submission #{{forloop.counter}}</td>
			<td>{{article.last_modified_date}}</td>
			<td>
			{% if article.gradingattempt %}
				<a href="{% url 'courses:grading_attempt.detail' article.gradingattempt.id %}">{{article.gradingattempt.grade}}</a>
			{% else %}
				Not Graded
			{% endif %}
			</td>
			<td>
				{% if article.gradingattempt %}
				<a class="btn btn-default" href="{% url 'courses:article.revision.create' article.gradingattempt.id %}"><i class="fa fa-fw fa-plus"></i> New Revision</a>
				{% else %}
				<a class="btn btn-default" href="{% url 'courses:article.detail' article.id %}">View</a>
				{% endif %}
			</td>
		</tr>
		{% empty %}
			<tr><td colspan="4">No submission</td></tr>
		{% endfor %}
	</tbody>
</table>

<a class="btn btn-default" href="{% url 'courses:article.origin.create' assignment.id %}"><i class="fa fa-fw fa-plus"></i> New Submission</a>

{% endblock content %}