{% extends 'base_course_assignment.html' %}

{% load staticfiles %}

{% block script-head %}

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/DataTables/css/dataTables.bootstrap.min.css' %}">

<script src="{% static 'common/lib/DataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/lib/DataTables/js/dataTables.bootstrap.min.js' %}"></script>

<script>
$(document).ready(function() {
	$('#table_articles').DataTable({
		paging: false,
		searching: false
	});
});
</script>

{% endblock script-head %}

{% block content %}

{% with course=assignment.course %}
{{ block.super }}
{% endwith %}

<ol class="breadcrumb">
  <li><a href="{% url 'courses:assignment.list' assignment.course.id %}">Assignment</a></li>
  <li class="active">{{assignment.title}}</li>
</ol>

{% include "courses/assignment_info.html" %}


{% with active_stage=assignment.active_stage %}
{% if active_stage == None %}
{% else %}
<div>
	<h4>Active Stage</h4>
	<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Due Date:</strong> {{ active_stage.end_date }}</small></p>
	<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Grace Period:</strong> {{ active_stage.grace_period_end_date }}</small></p>
	{% with active_article=active_stage.article %}
	{% if active_article == None %}
		{% if last_grading_attempt == None %}
		<a class="btn btn-default" href="{% url 'courses:article.origin.create' assignment.id %}">
			<i class="fa fa-fw fa-plus"></i> New Submission
		</a>
		{% else %}
		<a class="btn btn-default" href="{% url 'courses:article.revision.create' last_grading_attempt.id %}">
			<i class="fa fa-fw fa-plus"></i> New Revision
		</a>
		{% endif %}
	{% else %}
	<div class="row article article-active">
		<div class="article-info">
			<h4>Submission #{{ active_article.number }}</h4>
			<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Create Date:</strong> {{ active_article.create_date }}</small></p>
			<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Last Modified Date:</strong> {{ active_article.last_modified_date }}</small></p>
		</div>
		<div class="pull-right anchor">
			<div class="anchor-image">
				<a href="{% url 'courses:article.update' active_article.id %}">
				<span class="anchor-big-text">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</span>
				</a>
			</div>
			<div class="additional-anchor">Modify</div>
		</div>
	</div>
	{% endif %}
	{% endwith %}
</div>

<hr />

{% endif %}
{% endwith %}

{% for article in object_list %}
<div class="row article">
	<div class="article-info">
		<h4>Submission #{{ article.number }}</h4>
		<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Create Date:</strong> {{article.create_date}}</small></p>
		<p><small><i class="fa fa-calendar" aria-hidden="true"></i> <strong>Last Modified Date:</strong> {{article.last_modified_date}}</small></p>
	</div>
	<div class="pull-right anchor">
		<div class="anchor-image">
			{% if article.gradingattempt %}
			<a href="{% url 'courses:grading_attempt.detail' article.gradingattempt.id %}">
				<span class="anchor-big-text">{{article.gradingattempt.grade}}</span>
			</a>
			{% else %}
			<a href="{% url 'courses:article.detail' article.id %}">
				<span class="anchor-big-text">-</span>
			</a>
			{% endif %}
		</div>
		<div class="additional-anchor">Grade</div>
	</div>
</div>
{% endfor %}

{% endblock content %}