{% extends 'base_course_assignment.html' %}

{% load staticfiles %}

{% block script-head %}

<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/lib/handlebars/handlebars.js' %}"></script>

<script src="{% static 'common/script/RichTextEditor.js' %}"></script>

<script>
$(document).ready(function() {
	var rteditor = RichTextEditor.render('id_content', '{% static 'common/miscellaneous/ckeditor_readonly_config.js' %}');
});
</script>

{% endblock script-head %}

{% block content %}

{% with course=article.assignment.course %}
{{ block.super }}
{% endwith %}

<ol class="breadcrumb">
  <li><a href="{% url 'courses:assignment.list' article.assignment.course.id %}">Assignment</a></li>
  <li><a href="{% url 'courses:article.list' article.assignment.id %}">{{article.assignment.title}}</a></li>
  <li class="active">Submission</li>
</ol>

{% with assignment=article.assignment %}
{% include "courses/assignment_info.html" %}
{% endwith %}

<textarea id="id_content" rows="10" cols="40">
{{ article.content | safe }}
</textarea>

{% endblock content %}
