{% extends 'base_course_assignment.html' %}

{% block content %}

{{ block.super }}

<ol class="breadcrumb">
  <li class="active">Assignment</li>
</ol>

<ul class="list-unstyled">
{% for assignment in object_list %}
	<li>
		<div class="panel panel-info">
			<div class="panel-heading">
				<span>{{ assignment.title }}</span>
			</div>
			<div class="panel-body">
				<blockquote>
					{{ assignment.description }}
				</blockquote>
				
				<a class="btn btn-default" href="{% url 'courses:article.list' assignment.id %}" role="button">My Submissions</a>
			</div>
		</div>
	</li>
{% empty %}
	<li>{{ course.title }} does not have any assignment.</li>
{% endfor %}
</ul>

{% endblock content %}