{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}

<script src="{% static 'common/script/csrf.js' %}"></script>
<script src="{% static 'common/lib/moment/moment.min.js' %}"></script>
<script src="{% static 'common/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'common/lib/jquery-confirm/jquery-confirm.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/jquery-confirm/jquery-confirm.min.css' %}">

{% verbatim %}
<script id="new-stage-template" type="text/x-handlebars-template">
<tr>
	<td colspan="5">
		<form class="form_new_stage" action="" method="post">
			<input name="assignment" type="hidden" value="{{assignment}}" />
			<div class="row">
				<div class="col-xs-3">
					<input class="form-control" name="start_date" type="text" value="{{start_date}}" />
				</div>
				<div class="col-xs-3">
					<input class="form-control" name="end_date" type="text" value="{{end_date}}" />
				</div>
				<div class="col-xs-3">
					<input class="form-control" name="grace_period_end_date" type="text" value="{{grace_period_end_date}}" />
				</div>
				<div class="col-xs-3">
					<button class="btn btn-default" type="submit">Add</button>
					<button class="btn-cancel-add-stage btn btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</td>
</tr>
</script>

<script id="stage-template" type="text/x-handlebars-template">
<tr>
	<td>
		<input class="hidden-stage" type="hidden" value="{{id}}" />
	</td>
	<td>{{start_date}}</td>
	<td>{{end_date}}</td>
	<td>{{grace_period_end_date}}</td>
	<td>
		<button class="btn-delete-stage btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
	</td>
</tr>
</script>
{% endverbatim %}

<script>
var urlAddStage = "{% url 'courses:stage.create' %}";
var urlDeleteStage = "{% url 'courses:stage.delete' %}";
</script>

<script src="{% static 'courses/script/assignment_management_list.js' %}"></script>

{% endblock script-head %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="assignment_management" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<div class="container">
	{% if perms.courses.add_assignment %}
	<a class="btn btn-default" href="{% url 'courses:assignment.create' course.id %}" role="button"><i class="fa fa-fw fa-plus"></i> Create</a>
	{% endif %}
	
	<ul class="list-unstyled">
	{% for assignment in object_list %}
		<li>
			<div class="panel panel-info">
				<div class="panel-heading">
					<span>{{ assignment.title }}</span>
					
					{% if perms.courses.change_assignment %}
					<span class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'courses:assignment.update' assignment.id %}"><i class="fa fa-fw fa-pencil-square-o"></i> Modify</a>
								<a href="#"><i class="fa fa-fw fa-times"></i> Delete</a>
							<li>
						</ul>
					</span>
					{% endif %}
				</div>
				<div class="panel-body">
					<blockquote>
						{{ assignment.description }}
					</blockquote>
					
					<div>						
						<table class="table table-stages">
							<caption><h4>Stages</h4></caption>
							<thead>
								<tr>
									<th>#</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Grace Period End Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for stage in assignment.stage_set.all %}
								<tr>
									<td>
										<input class="hidden-stage" type="hidden" value="{{ stage.id }}" />
									</td>
									<td>{{ stage.start_date }}</td>
									<td>{{ stage.end_date }}</td>
									<td>{{ stage.end_date }}</td>
									<td>
										<button class="btn-delete-stage btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						
						<div>
							<input class="hidden-assignment" type="hidden" value="{{ assignment.id }}" />
							<button class="btn btn-default pull-right btn-add-stage" type="button"><i class="fa fa-fw fa-plus"></i></button>
						</div>
					</div>
				</div>
			</div>
		</li>
	{% empty %}
		<li>{{ course.title }} does not have any assignment.</li>
	{% endfor %}
	</ul>
</div>

{% endblock %}