{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}

<script src="{% static 'common/script/csrf.js' %}"></script>
<script src="{% static 'common/lib/moment/moment.min.js' %}"></script>
<script src="{% static 'common/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'common/lib/jquery-confirm/jquery-confirm.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/jquery-confirm/jquery-confirm.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">

<script>
var urlAddStage = "{% url 'courses:stage.create' %}";
var urlDeleteStage = "{% url 'courses:stage.delete' %}";
</script>

<script src="{% static 'courses/script/assignment_management_list.js' %}"></script>

{% endblock script-head %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="assignment_management" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<div class="container">
	<a class="btn btn-default" href="{% url 'courses:assignment.create' course.id %}" role="button"><i class="fa fa-fw fa-plus"></i> Create</a>
	
	<ul class="list-unstyled">
	{% for assignment in object_list %}
		<li>
			<div class="panel panel-info">
				<div class="panel-heading">
					<span>{{ assignment.title }}</span>
					
					<span class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'courses:assignment.update' assignment.id %}"><i class="fa fa-fw fa-pencil-square-o"></i> Modify</a>
								<a href="{% url 'courses:assignment.delete' assignment.id %}"><i class="fa fa-fw fa-times"></i> Delete</a>
							<li>
						</ul>
					</span>
				</div>
				<div class="panel-body">
					<blockquote>
						{{ assignment.description }}
					</blockquote>
					
					<div>						
						<table class="table table-stages">
							<caption><h4>Stages</h4></caption>
							<thead>
								<tr>
									<th>#</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Grace Period End Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for stage in assignment.stage_set.all %}
								<tr>
									<td>
										<input class="hidden-stage" type="hidden" value="{{ stage.id }}" />
									</td>
									<td>{{ stage.start_date }}</td>
									<td>{{ stage.end_date }}</td>
									<td>{{ stage.grace_period_end_date }}</td>
									<td>
										<button class="btn-delete-stage btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						
						<div>
							<button class="btn btn-default btn-add-stage" type="button" data-toggle="modal" data-target="#modalAddStage" data-assignment="{{ assignment.id }}">
								<i class="fa fa-fw fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	{% empty %}
		<li>{{ course.title }} does not have any assignment.</li>
	{% endfor %}
	</ul>
</div>

<div class="modal fade" id="modalAddStage" tabindex="-1" role="dialog"
	aria-labelledby="labelModalAddStage">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="labelModalAddStage">Add a new Stage</h4>
			</div>
			<div class="modal-body">
				<form id="formAddStage" action="" method="post">
					<input name="assignment" type="hidden" id="inputAssignment" />
					<div class="form-group">
						<label for="txtStartDate">Start Date</label>
						<input class="form-control" name="start_date" id="inputStartDate" type="text" />
					</div>
					<div class="form-group">
						<label for="txtEndDate">End Date</label>
						<input class="form-control" name="end_date" id="inputEndDate" type="text" />
					</div>
					<div class="form-group">
						<label for="txtGracePeriodEndDate">Grace Period End Date</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" id="checkSyncEndDateAndGracePeriod" />
								Same as End Date
							</label>
						</div>
						<input class="form-control" name="grace_period_end_date" id="inputGracePeriodEndDate" type="text" />
					</div>
					<button type="submit" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}