{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/handlebars/handlebars.js' %}"></script>
<script src="{% static 'common/script/csrf.js' %}"></script>
<script src="{% static 'common/lib/moment/moment.min.js' %}"></script>
<script src="{% static 'common/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>

{% verbatim %}
<script id="new-submission-period-template" type="text/x-handlebars-template">
<li class="list-group-item">
	<form class="form_new_submission_period" action="" method="post">
		<div class="row">
			<div class="col-xs-4">
				<input class="form-control" name="title" type="text" placeholder="New Submission" />
			</div>
			<div class="col-xs-3">
				<input class="form-control" name="start_date" type="text" value="{{start_date}}" />
			</div>
			<div class="col-xs-3">
				<input class="form-control" name="end_date" type="text" value="{{end_date}}" />
			</div>
			<input class="cls_btn_confirm_add_submision_period btn btn-default" type="submit" value="Add" />
			<input class="cls_btn_cancel_add_submision_period btn btn-default" type="button" value="Cancel" />
		</div>
	</form>
</li>
</script>

<script id="submission-period-template" type="text/x-handlebars-template">
<li class="list-group-item">
	<input class="cls_hidden_submission_period_id" type="hidden" value="{{id}}" />
	<span>{{title}}</span>
	<span class="pull-right cls_btn_remove_submission_period">
		<button class="cls_btn_delete_submission_period btn btn-default" type="button">Delete</button>
	</span>
	<span class="pull-right">From {{start_date}} To {{end_date}}</span>
</li>
</script>
{% endverbatim %}

<script>
var assignmentId = "{{assignment.id}}";
var urlAddSubmissionPeriod = "{% url 'courses:submission_period.create' %}";
var urlDeleteSubmissionPeriod = "{% url 'courses:submission_period.delete' %}";
</script>

<script src="{% static 'courses/script/assignment_form.js' %}"></script>

{% endblock script-head %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="assignment" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<h2>Create an Assignment</h2>

{% include "courses/form_errors.html" %}

<form action="" method="post">
	{% csrf_token %}
	
	<div class="form-group">
		{{ form.title.label_tag }}
		{{ form.title }}
	</div>
	<div class="form-group">
		{{ form.course.label_tag }}
		{{ form.course }}
	</div>
	<div class="form-group">
		{{ form.description.label_tag }}
		{{ form.description }}
	</div>
	<div class="form-group">
		{{ form.due_date.label_tag }}
		{{ form.due_date }}
	</div>

	<input class="btn btn-default" type="submit" value="Submit" />
	<input class="btn btn-default" type="reset" value="Reset" />
</form>

<div>
	Submission Periods
	<button id="btn_add_submission_period" class="btn btn-default" type="button"><i class="fa fa-fw fa-plus"></i></button>
	<ul id="list_submission_periods" class="list-group">
		{% for period in assignment.submissionperiod_set.all %}
		<li class="list-group-item">
			<input class="cls_hidden_submission_period_id" type="hidden" value="{{period.id}}" />
			<span>{{period.title}}</span>
			<span class="pull-right cls_btn_remove_submission_period">
				<button class="cls_btn_delete_submission_period btn btn-default" type="button"><i class="fa fa-fw fa-times"></i></button>
			</span>
			<span class="pull-right">From {{period.start_date}} To {{period.end_date}}</span>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}