{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="assignment_management" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<div class="container">
	<form action="" method="post">
		{% csrf_token %}
		<p>Are you sure you want to delete <strong>{{ object }}</strong>?</p>
		<button type="submit" class="btn btn-primary">Confirm</button>
		<a class="btn btn-default" href="{% url 'courses:manage.assignment.list' course.id %}">Back</a>
	</form>
</div>

{% endblock %}