{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>

<script>

function showCommentTemplateContent(obj)
{
	var content = $(obj).children('input[type="hidden"]').val();
	CKEDITOR.instances['id_content'].setData(content)
	$('#id_comment_template_content_div').show();
}

function hideCommentTemplateContent()
{
	$('#id_comment_template_content_div').hide();
}

</script>

{% endblock script-head %}

{% block content %}

<h2>{{ course.title }}</h2>

<a class="btn btn-default" href="{% url 'courses:commenttemplateclass.create' %}" role="button">
	<i class="fa fa-fw fa-plus"></i> Create a Comment Template Class
</a>
<a class="btn btn-default" href="{% url 'courses:commenttemplate.create' %}" role="button">
	<i class="fa fa-fw fa-plus"></i> Create a Comment Template
</a>

<ul class="list-unstyled">
{% for templateClass in object_list %}
	{% with templateClass as templateClass %}
		{% include "courses/comment_template_tree.html" %}
	{% endwith %}
{% empty %}
	No comment template exists.
{% endfor %}
</ul>

<div id="id_comment_template_content_div">
	<textarea id="id_content" cols="40">
	</textarea>
	<script>
		CKEDITOR.replace('id_content', {
			customConfig: '{% static 'common/miscellaneous/ckeditor_readonly_config.js' %}'
		});
</script>
</div>

{% endblock %}