{% load guardian_tags %}
{% get_obj_perms request.user for course as 'course_perms' %}

<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" {% if active_tab == "home" %}class="active"{% endif %}>
			<a href="{% url 'courses:course.detail' course.id %}" aria-controls="home" role="tab">
				<i class="fa fa-home"></i> Home
			</a>
		</li>
		{% if 'enroll_course' in course_perms %}
		<li role="presentation" {% if active_tab == "assignment" %}class="active"{% endif %}>
			<a href="{% url 'courses:assignment.list' course.id %}" role="tab">
				<i class="fa fa-folder-open"></i> Assignment
			</a>
		</li>
		{% endif %}
		{% if 'instruct_course' in course_perms %}
		<li role="presentation" {% if active_tab == "assignment_management" %}class="active"{% endif %}>
			<a href="{% url 'courses:manage.assignment.list' course.id %}" role="tab">
				<i class="fa fa-fw fa-gear"></i> Assignment Management
			</a>
		</li>
		{% endif %}
		{% if 'instruct_course' in course_perms %}
		<li role="presentation" {% if active_tab == "grade" %}class="active"{% endif %}>
			<a href="{% url 'courses:grade.list' course.id %}" role="tab">
				<i class="fa fa-check-square"></i> Grade
			</a>
		</li>
		{% endif %}
		<li role="presentation" {% if active_tab == "people" %}class="active"{% endif %}>
			<a href="{% url 'courses:people.list' course.id %}" role="tab">
				<i class="fa fa-users"></i> People
			</a>
		</li>
	</ul>
</div>