{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/DataTables/css/dataTables.bootstrap.min.css' %}">

<script src="{% static 'common/lib/DataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/lib/DataTables/js/dataTables.bootstrap.min.js' %}"></script>

<script src="{% static 'common/script/csrf.js' %}"></script>

<script>

$(document).ready(function() {
	$('#table-grade').DataTable({
		"order": [[ 2, "desc" ]]
	});
	
	$('.btn-visibility').click(function(event) {
		console.log($(this).data('id'));
		var btn = $(this);
		var url = '{%url "courses:grading_attempt.toggle_visibility" "00000000" %}'.replace('00000000', btn.data('id'));
		$.post(url).done(function(data) {
			if (data.visible) {
				btn.html('<i class="fa fa-eye" aria-hidden="true" title="Visible"></i>');
			}
			else {
				btn.html('<i class="fa fa-eye-slash" aria-hidden="true" title="Invisible"></i>');
			}
		});
	});
});
</script>

{% endblock script-head %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="grade" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<ol class="breadcrumb">
  <li class="active">Grade</li>
</ol>

<table id="table-grade" class="table">
	<thead>
		<tr>
			<th>Assignment</th>parameter
			<th>Author</th>
			<th>Title</th>
			<th>Last Modfied Date</th>
			<th>Grade</th>
			<th>Visibility</th>
		</tr>
	</thead>
	<tbody>
		{% for article in object_list %}
		<tr{% if not article.gradingattempt %} class="danger"{% endif %}>
			<td>{{ article.assignment.title }}</td>
			<td>{{ article.author }}</td>
			<td>
				Submission #{{ article.number }}
				{% if article.is_late %}
				<i class="fa fa-exclamation-triangle" aria-hidden="true" title="Late submission"></i>
				{% endif %}
			</td>
			<td>{{ article.last_modified_date }}</td>
			<td>
				{% if article.gradingattempt %}
					<a href="{% url 'courses:grading_attempt.update' article.gradingattempt.id %}">{{ article.gradingattempt.grade }}</a>
				{% else %}
					<a href="{% url 'courses:grading_attempt.create' article.id %}">Not Graded</a>
				{% endif %}
			</td>
			<td>
				{% if article.gradingattempt %}
				<button class="btn-link btn-visibility" data-id="{{ article.gradingattempt.id }}">
				{% if article.gradingattempt.visible %}
					<i class="fa fa-eye" aria-hidden="true" title="Visible"></i>
				{% else %}
					<i class="fa fa-eye-slash" aria-hidden="true" title="Invisible"></i>
				{% endif %}
				</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}