{% extends 'base_course_assignment.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/script/csrf.js' %}"></script>

<script src="{% static 'common/script/RichTextEditor.js' %}"></script>

<script>

$(document).ready(function() {
	var urlConfig = {
		contentId: {{gradingattempt.id}},
		getComment: "{% url 'courses:comment.detail' %}",
	};
	
	var config = RichTextEditorConfig.ReadOnlyComment();
	var rteditor = RichTextEditor.render('id_content', config);
	rteditor.supportComment(urlConfig, true);
 });

</script>

{% endblock script-head %}

{% block content %}

{% with course=gradingattempt.article.assignment.course %}
{{ block.super }}
{% endwith %}

<ol class="breadcrumb">
  <li><a href="{% url 'courses:assignment.list' gradingattempt.article.assignment.course.id %}">Assignment</a></li>
  <li><a href="{% url 'courses:article.list' gradingattempt.article.assignment.id %}">{{gradingattempt.article.assignment.title}}</a></li>
  <li class="active">Grade</li>
</ol>

{% with assignment=gradingattempt.article.assignment %}
{% include "courses/assignment_info.html" %}
{% endwith %}

<textarea id="id_content" rows="10" cols="40">
{{ gradingattempt.content | safe }}
</textarea>

{% endblock content %}