{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/DataTables/css/dataTables.bootstrap.min.css' %}">

<script src="{% static 'common/lib/DataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'common/lib/DataTables/js/dataTables.bootstrap.min.js' %}"></script>

<script>
$(document).ready(function() {
	$('#table-grade').DataTable({
		"order": [[ 2, "desc" ]]
	});
});
</script>

{% endblock script-head %}

{% block content %}

{% include "courses/course_header.html" %}

{% with active_tab="grade" %}
{% include "courses/course_nav.html" %}
{% endwith %}

<ol class="breadcrumb">
  <li class="active">Grade</li>
</ol>

<table id="table-grade" class="table">
	<thead>
		<tr>
			<th>Assignment</th>
			<th>Author</th>
			<th>Last Modfied Date</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		{% for article in object_list %}
		<tr{% if not article.gradingattempt %} class="danger"{% endif %}>
			<td>{{ article.assignment.title }}</td>
			<td>{{ article.author }}</td>
			<td>{{ article.last_modified_date }}</td>
			<td>
				{% if article.gradingattempt %}
					<a href="{% url 'courses:grading_attempt.update' article.gradingattempt.id %}">{{ article.gradingattempt.grade }}</a>
				{% else %}
					<a href="{% url 'courses:grading_attempt.create' article.id %}">Not Graded</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}