{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/lib/handlebars/handlebars.js' %}"></script>
<script src="{% static 'common/script/csrf.js' %}"></script>

<script src="{% static 'common/script/RichTextEditor.js' %}"></script>

<script>
 
$(document).ready(function() {
	var urlConfig = {
		contentId: {{gradingattempt.id}},
		getComment: "{% url 'courses:comment.detail' %}",
		addComment: "{% url 'courses:comment.create' %}",
		deleteComment: "{% url 'courses:comment.delete' %}",
		updateContent: "{% url 'courses:grading_attempt.update_content' gradingattempt.id %}"
	};
	
	var rteditor = RichTextEditor.render('id_content', '{% static 'common/miscellaneous/ckeditor_grading_config.js' %}');
	rteditor.supportComment(urlConfig, false);
});

</script>

{% endblock script-head %}

{% block content %}

<a class="btn btn-default" href="{% url 'courses:assignment.list' gradingattempt.parent_article.assignment.course.id %}" role="button">Back to List</a>

<h2>{{ gradingattempt.parent_article.assignment.title }} - {{ gradingattempt.parent_article.assignment.course.title }}</h2>
<blockquote>{{ gradingattempt.parent_article.assignment.description }}</blockquote>

<textarea id="id_content" rows="10" cols="40">
{{ gradingattempt.content | safe }}
</textarea>

{% endblock %}