{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" href="{% static 'common/lib/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'common/lib/font-awesome/css/font-awesome.min.css' %}" >
	
	<link rel="stylesheet" type="text/css" href="{% static 'common/css/heroic-features.css' %}" />
	
	<script src="{% static 'common/lib/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'common/lib/bootstrap/js/bootstrap.min.js' %}"></script>
	
	<script>
		var CKEditorFuncNum = {{ CKEditorFuncNum }};
	</script>
	
	<script src="{% static 'courses/script/image_browse.js' %}"></script>
</head>
<body>
	<script type="text/x-template-html" id="js-template-image">
			<a href="javascript://" class="thumbnail js-image-link" data-url="%imageUrl%">
		</script>

	<ul class="folder-switcher" id="js-folder-switcher"></ul>

	<div class="images-container" id="js-images-container">
		{% for image in images %}
			<a href="javascript://" class="thumbnail js-image-link" data-url="{{ image }}">
				<img src="{{ image }}" />
			</a>
		{% endfor %}
	</div>
</body>
</html>