{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/handlebars/handlebars.js' %}"></script>
<script src="{% static 'common/script/csrf.js' %}"></script>
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'common/lib/jquery-confirm/jquery-confirm.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'common/lib/jquery-confirm/jquery-confirm.min.css' %}">

<script src="{% static 'common/script/RichTextEditor.js' %}"></script>

{% verbatim %}
<script id="add-category-template" type="text/x-handlebars-template">
<form class="form-add-category" action="" method="post">
	<input name="parent" type="hidden" value="{{parent}}" />
	<input name="title" type="text" placeholder="Title" />
</form>
</script>

<script id="add-category-link-template" type="text/x-handlebars-template">
<input type="hidden" name="parent" value="{{parent}}"  />
<button type="button" class="btn btn-default btn-block btn-add-category-link">
	<i class="fa fa-plus" aria-hidden="true"></i>
</button>
</script>

<script id="category-template" type="text/x-handlebars-template">
<a class="li-category link-show-subcategory list-group-item" href="#">
	<input type="hidden" name="category_id" value="{{id}}" />
	<input type="hidden" name="is_terminal" value="{{is_terminal}}" />
	<span>{{title}}</span>
	<span class="pull-right">
		{{#unless is_terminal}}
		<button type="button" class="btn-terminate-category btn btn-success btn-xs">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
		</button>
		{{/unless}}
		<button type="button" class="btn-delete-category btn btn-danger btn-xs">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</span>
</a>
</script>

<script id="category-list-template" type="text/x-handlebars-template">
<div class="div-category container col-sm-4">
	<div class="well">
		<h4>Category</h4>
		<div class="list-group pre-scrollable">
			{{#each categories}}
			<a class="li-category link-show-subcategory list-group-item" href="#">
				<input type="hidden" name="category_id" value="{{id}}" />
				<input type="hidden" name="is_terminal" value="{{is_terminal}}" />
				<span>{{title}}</span>
				<span class="pull-right">
					{{#unless is_terminal}}
					<button type="button" class="btn-terminate-category btn btn-success btn-xs">
						<i class="fa fa-sign-out" aria-hidden="true"></i>
					</button>
					{{/unless}}
					<button type="button" class="btn-delete-category btn btn-danger btn-xs">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</span>
			</a>
			{{/each}}
			<p class="li-reserved list-group-item">
				<input type="hidden" name="parent" value="{{parent}}"  />
				<button type="button" class="btn btn-default btn-block btn-add-category-link">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
			</p>
		</div>
	</div>
</div>
</script>

{% endverbatim %}

<script>
var urlAddPredefinedCommentCategory = "{% url 'courses:predefined_comment_category.create' %}";
var urlPredefinedCommentSubCategoryList = "{% url 'courses:predefined_comment_category.sub.list' %}";
var urlPredefinedCommentCategoryDelete = "{% url 'courses:predefined_comment_category.delete' %}";
var urlPredefinedCommentCategoryTerminate = "{% url 'courses:predefined_comment_category.terminate' %}";
var urlCommentOfPredefinedCommentCategory = "{% url 'courses:predefined_comment_category.comment' %}";
var urlPredefinedCommentUpdate = "{% url 'courses:predefined_comment.update' %}";

var idRichTextEditor = 'id_content';
</script>

<script src="{% static 'courses/script/predefined_comment_list.js' %}"></script>

{% endblock script-head %}

{% block content %}

<div id="div_select_category" class="row">
	<div class="div-category container col-sm-4">
		<div class="well">
			<h4>Category</h4>
			<div class="list-group pre-scrollable">
				{% for category in categories %}
				<a class="li-category link-show-subcategory list-group-item" href="#">
					<input type="hidden" name="category_id" value="{{ category.id }}" />
					<input type="hidden" name="is_terminal" value="{% if category.is_terminal %}true{% else %}false{% endif %}" />
					<span>{{ category.title }}</span>
					<span class="pull-right">
						{% if not category.is_terminal %}
						<button type="button" class="btn-terminate-category btn btn-success btn-xs">
							<i class="fa fa-sign-out" aria-hidden="true"></i>
						</button>
						{% endif %}
						<button type="button" class="btn-delete-category btn btn-danger btn-xs">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>	
					</span>
				</a>
				{% endfor %}
				<p class="li-reserved list-group-item">
					<input type="hidden" name="parent" value=""  />
					<button type="button" class="btn btn-default btn-block btn-add-category-link">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
				</p>
			</div>
		</div>
	</div>
</div>

<form id="form_comment" action="" method="post">
	<input type="hidden" name="predefinedcomment_id" value="" />
	<textarea id="id_content" name="content" rows="10" cols="40">
	</textarea>
	<input class="btn btn-default" type="submit" value="Submit" />
</form>

{% endblock %}