{% extends 'base.html' %}

{% load staticfiles %}

{% block script-head %}
<script src="{% static 'common/lib/ckeditor/ckeditor.js' %}"></script>
{% endblock script-head %}

{% block content %}

<h2>{{ article.assignment.title }} - {{ article.assignment.course.title }}</h2>
<blockquote>{{ article.assignment.description }}</blockquote>

<textarea id="id_content" rows="10" cols="40">
{{ article.content | safe }}
</textarea>
<script>
CKEDITOR.replace('id_content', {
	customConfig: '{% static 'common/miscellaneous/ckeditor_display_config.js' %}'
});
</script>

{% endblock %}